:root{
--maincolor:#282c34;
--primarycolor:#f39c12;
--secondarycolor:#03a9f4;
--tertiarycolor:#4db6ac;
--sidebarbackground:#21252b;
--linkcolor:#f44336;
--linkcoloralternate:#ff9800;
--white:#FFFFFF;
}
